<div class="container-fluid">
    <h2 class="text-center">Register New User</h2>
    <hr>
    <label for="username">Enter Username:</label><br>
    <input [(ngModel)] = "register.username"><br>
    <label for="email">Enter Email:</label><br>
    <input [(ngModel)]="register.email"><br>
    <label for="password">Enter Password:</label><br>
    <input [(ngModel)]="register.password" type="password"><br>
    <label for="confirmpassword">Confirm Password:</label><br>
    <input [(ngModel)]="register.confirmpassword" type="password"><br>

    <button (click)=registerUser()>Register</button>
</div>