<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"  routerLinkActive='active' href="#" routerLink="registration" ><b>NYUMBA KUMI</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"  routerLinkActive='active' href="#" routerLink="neighbourhoods" ><b>Area-Codes</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a class="dropdown-item" routerLink="registration" routerLinkActive='active'>Register</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="businesses" routerLinkActive='active'>Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive='active'>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>