<div class="container-fluid">
    <h2 class="text-center">Send a Post to the Group</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Username</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="description">Post Details</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="datesubmitted">Date Submitted</label>
            <input type='date' id="datesubmitted" required>
  
        </div>
        <button type="submit">Post</button>
    </form>
  </div>
